.App {
  text-align: center;
}

.App {
  text-align: center;
}

body {
  background-color: #121888;
  color:#ca8d22;
  font-size: 20px;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: gold;
  color: white;
  box-shadow: 1px 1px 25px .5px black;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li {
  list-style: none;
}

.reel {
  border-radius: 50%;
  object-fit: contain;
}
